mat-card {
    background-color: #919294;
    width:90%
}
.mat-column-id {
    flex: none;
    width: 10%;
}
.mat-column-name {
    flex: none;
    width: 70%;
}
.mat-column-actions {
    flex: none;
    width: 20%;
}