<div style="margin-left:30px">
    <h2>Main Menu</h2>
    <hr/><br/>
    <button routerLink="/user" routerLinkActive="active">Manage Users</button><br/><br/>
    <button routerLink="/skill" routerLinkActive="active">Manage Skills</button><br/><br/>
    <button routerLink="/capability" routerLinkActive="active">Manage Capabilities</button><br/><br/>
    <button routerLink="/skilllevel" routerLinkActive="active">Manage Skill Levels</button><br/><br/>
    <button routerLink="/badgetype" routerLinkActive="active">Manage Badge Types</button><br/><br/>
    <button routerLink="/badge" routerLinkActive="active">Manage Badges</button><br/><br/>
    <button routerLink="/badgerequirement" routerLinkActive="active">Manage Badge Requirements</button><br/><br/>
    <hr/>
    <h3> Not yet complete </h3>
    <button routerLink="/achievement" routerLinkActive="active">Manage Achievements</button><br/><br/>
    <button routerLink="/achievementrequirement" routerLinkActive="active">Manage Achievement Requirements</button><br/><br/>

</div>

