<div style="margin-left:30px">
    <h2>Main Menu</h2>
    <hr/><br/>
    <button routerLink="/capability" routerLinkActive="active">Manage Capabilities</button><br/><br/>
    <!-- <button routerLink="/category" routerLinkActive="active">Manage Categories</button><br/><br/> -->
    <button routerLink="/skilllevel" routerLinkActive="active">Manage Skill Levels</button><br/><br/>
    <button routerLink="/badge" routerLinkActive="active">Manage Badges</button><br/><br/>
    <button routerLink="/achievement" routerLinkActive="active">Manage Achievements</button><br/><br/>
    <button routerLink="/user" routerLinkActive="active">Manage Users</button>
</div>

